<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">Sunup物联网数据平台</span>
      </div>
      <div class="desc">打造一流的物联网数据平台</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2023 <a href="//#" target="_blank">Sunup</a>出品
    </global-footer>
  </div>
</div>
<theme-btn></theme-btn>
