<form nz-form [formGroup]="form" se-container="1" labelWidth="200">
  <se label="名称" error="给该设备起个名字" required>
    <input nz-input formControlName="Name" placeholder="给该设备起个名字" />
  </se>
  <se label="是否可用" extra="当设置成不可用的的时候，系统不会收集该设备的数据。">
    <nz-radio-group formControlName="Enable">
      <label nz-radio [nzValue]="true">可用</label>
      <label nz-radio [nzValue]="false">不可用</label>
    </nz-radio-group>
  </se>
  <se label="数据处理模式">
    <nz-radio-group formControlName="InputDataProcessMode">
      <label nz-radio [nzValue]="1">简单处理：自动把接收的数据转成设备字段，不需要写《接收到数据后触发的脚本》。</label>
      <label nz-radio [nzValue]="2">脚本处理：以执行脚本的方式把接收的数据转成设备字段，需要写《接收到数据后触发的脚本》。</label>
      <label nz-radio [nzValue]="3">组合处理：先执行简单处理，再执行脚本处理</label>
    </nz-radio-group>
  </se>
  <se label="设备模式">
    <nz-radio-group formControlName="Mode">
      <label nz-radio nzValue="Server">服务器模式</label>
      <label nz-radio nzValue="Client">客户端模式</label>
    </nz-radio-group>
  </se>
  <se
    label="服务地址"
    extra="当设备模式设置成服务器模式时，本平台会监听该服务地址来接收客户端连接，接收客户端数据，并用来向客户端推送数据，
  当设备模式设置成客户端模式时，本平台会以客户端形式向该服务地址对应的服务器请求连接，接收服务器端数据，并用来向服务器端推送数据。"
    error="给该设备指定服务地址"
    required
  >
    <input nz-input formControlName="Server" placeholder="给该设备指定服务地址" />
  </se>
  <se label="端口" extra="端口号" required>
    <nz-input-number formControlName="Port" placeholder="请输入"></nz-input-number>
  </se>
  <se label="连接用户名">
    <input nz-input formControlName="User" placeholder="给该设备指定连接用户名" />
  </se>
  <se label="连接密码">
    <input nz-input formControlName="Password" placeholder="给该设备指定连接密码" />
  </se>
  <se label="服务质量等级(QoS)">
    <nz-radio-group formControlName="Quality">
      <label nz-radio [nzValue]="0">最多发送一次. (发送一次完事) </label>
      <label nz-radio [nzValue]="1">最少发送一次. (可能发送多次,必须接到应答)</label>
      <label nz-radio [nzValue]="2">可靠发送一次. (只发送一次, 并保证送达)</label>
    </nz-radio-group>
  </se>
  <se label="保留标志(Retain)">
    <nz-switch formControlName="Retained" nzCheckedChildren="保留" nzUnCheckedChildren="不保留"></nz-switch>
  </se>
  <se label="订阅话题(Topic)" extra="用于接收数据的话题">
    <button nz-button nzType="primary" (click)="addTopic()">增加话题</button>
    <ul style="padding-left: 0">
      <li style="list-style-type: none" *ngFor="let topic of subscriptionTopics">
        <input
          [(ngModel)]="topic.Topic"
          [ngModelOptions]="{ standalone: true }"
          style="margin-right: 10px"
          placeholder="指定话题(Topic)字符串"
        />
        <button nz-button nzType="primary" (click)="deleteTopic(topic)">删除</button>
      </li>
    </ul>
  </se>

  <se label="发布话题(Topic)" extra="用于发布数据的话题">
    <button nz-button nzType="primary" (click)="addPublishTopic()">增加话题</button>
    <ul style="padding-left: 0">
      <li style="list-style-type: none" *ngFor="let topic of publishmentTopics">
        <input
          [(ngModel)]="topic.Topic"
          [ngModelOptions]="{ standalone: true }"
          style="margin-right: 10px"
          placeholder="指定话题(Topic)字符串"
        />
        <input
          [(ngModel)]="topic.Fields"
          [ngModelOptions]="{ standalone: true }"
          style="width: 300px; margin-right: 10px"
          placeholder="指定字段名字，用逗号连接多个字段"
        />
        <button nz-button nzType="primary" (click)="deletePublishTopic(topic)">删除</button>
      </li>
    </ul>
  </se>

  <se
    label="接收到数据后触发的脚本"
    [optionalHelp]="
      '调试脚本：第一步，打开网站 http://jsrun.net/new ， 选择 <JS活页>。 ' +
      '第二步 ：拷贝以下脚本到<JS活页>顶端。    ' +
      this.predefinedJSObject +
      '    第三步 在拷贝到<JS活页>的脚本的下面继续编写自己的脚本，点<运行>测试脚本，确保脚本不出错。 第四步  拷贝回自己编写的脚本到平台上对应的位置。'
    "
    extra="支持基于JavaScript算术计算和内置对象；
  例如  Console.Log('') 在黑屏上打印出来内容； 
  DataSource.DataSet是接收到物理设备上传上来的数据内容，对于MQTT，它通常是JSON字符串；
  Device.SetField('虚拟设备字段', 'AAA') 保存数据到该虚拟设备上；Device.GetFieldValue('虚拟设备字段') 从虚拟设备上获取字段数据；"
  >
    <textarea
      nz-input
      formControlName="SubscriptionResultParser"
      [nzAutosize]="{ minRows: 4 }"
      placeholder="当有物理设备数据进来后会触发执行的脚本，通常是用来更新虚拟设备字段的数据。"
    ></textarea>
  </se>

  <se
    label="发送数据前触发的处理脚本"
    [optionalHelp]="
      '调试脚本：第一步，打开网站 http://jsrun.net/new ， 选择 <JS活页>。 ' +
      '第二步 ：拷贝以下脚本到<JS活页>顶端。    ' +
      this.predefinedJSObject +
      '    第三步 在拷贝到<JS活页>的脚本的下面继续编写自己的脚本，点<运行>测试脚本，确保脚本不出错。 第四步  拷贝回自己编写的脚本到平台上对应的位置。'
    "
    extra="支持基于JavaScript算术计算和内置对象；
  例如  Console.Log('') 在黑屏上打印出来内容； 
  Device.SetField('虚拟设备字段', 'AAA') 保存数据到该虚拟设备上；Device.GetFieldValue('虚拟设备字段') 从虚拟设备上获取字段数据；
  Device.SetWrittenField('DeviceId', '1234567890') 用来修改即将发送到物理设备的数据内容，例如加入设备标识；"
  >
    <textarea
      nz-input
      formControlName="OnPublishmentParser"
      [nzAutosize]="{ minRows: 4 }"
      placeholder="当有向物理设备发送数据前触发执行的脚本，通常是用来更改向物理设备发送的数据，例如加入设备标识：Device.SetWrittenField('DeviceId', '1234567890')；"
    ></textarea>
  </se>
  <se>
    <button nz-button nzType="primary" [disabled]="form.invalid" (click)="submit()" [nzLoading]="submitting">保存</button>
    <button nz-button class="ml-sm" (click)="cancel()">取消</button>
  </se>
</form>
