<form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1">
  <se label="名称" error="给该节点起个名字" required>
    <input nz-input formControlName="Name" placeholder="给该节点起个名字" maxlength="32" />
  </se>
  <se label="数据类型">
    <nz-radio-group formControlName="ValueType">
      <label nz-radio [nzValue]="1">整数</label>
      <label nz-radio [nzValue]="2">字符串</label>
      <label nz-radio [nzValue]="3">布尔</label>
      <label nz-radio [nzValue]="4">日期时间</label>
      <label nz-radio [nzValue]="5">单精度</label>
      <label nz-radio [nzValue]="6">双精度</label>
    </nz-radio-group>
  </se>
  <se label="数据初始值">
    <input *ngIf="form.value.ValueType !== 3" nz-input formControlName="DefaultValue" placeholder="初始数值" />
    <nz-radio-group *ngIf="form.value.ValueType === 3" formControlName="DefaultValue">
      <label nz-radio [nzValue]="true">True</label>
      <label nz-radio [nzValue]="false">False</label>
    </nz-radio-group>
  </se>
  <se label="是否可用" extra="当设置成不可用的的时候，系统不会收集该节点的数据，对该节点的订阅无效。">
    <nz-radio-group formControlName="IsHiden">
      <label nz-radio [nzValue]="false">可用</label>
      <label nz-radio [nzValue]="true">不可用</label>
    </nz-radio-group>
  </se>
  <se
    *ngIf="form.value.ValueType !== 2 && form.value.ValueType !== 4"
    label="是否存储数据"
    extra="当设置成不存储的的时候，系统不会存储该节点的数据。"
  >
    <nz-radio-group formControlName="IsStored">
      <label nz-radio [nzValue]="true">存储</label>
      <label nz-radio [nzValue]="false">不存储</label>
    </nz-radio-group>
  </se>
  <se
    label="表达式"
    [optionalHelp]="
      '调试脚本：第一步，打开网站 http://jsrun.net/new ， 选择 <JS活页>。 ' +
      '第二步 ：拷贝以下脚本到<JS活页>顶端。    ' +
      this.predefinedJSObject +
      '    第三步 在拷贝到<JS活页>的脚本的下面继续编写自己的脚本，点<运行>测试脚本，确保脚本不出错。 第四步  拷贝回自己编写的脚本到平台上对应的位置。'
    "
    extra="支持基于JavaScript算术计算和内置对象,例如 DevicesProxy.GetData('虚拟设备名称','虚拟设备字段');也可以引用其他节点，格式：Root.节点1.节点1-1.Value = 'AAA'."
  >
    <input nz-input formControlName="Expression" placeholder="给该节点设置一个表达式来计算节点的数值。" />
  </se>
  <se
    label="脚本"
    [optionalHelp]="
      '调试脚本：第一步，打开网站 http://jsrun.net/new ， 选择 <JS活页>。 ' +
      '第二步 ：拷贝以下脚本到<JS活页>顶端。    ' +
      this.predefinedJSObject +
      '    第三步 在拷贝到<JS活页>的脚本的下面继续编写自己的脚本，点<运行>测试脚本，确保脚本不出错。 第四步  拷贝回自己编写的脚本到平台上对应的位置。'
    "
    extra="支持基于JavaScript算术计算和内置对象,例如 DevicesProxy.GetData('虚拟设备名称','虚拟设备字段'); Console.Log('') 在黑屏上打印出来内容； 也可以引用其他节点，格式：Root.节点1.节点1-1.Value = 'AAA'. "
  >
    <textarea
      nz-input
      formControlName="Action"
      [nzAutosize]="{ minRows: 4 }"
      placeholder="当该节点的数值变化后会执行的脚本，通常是来触发关联节点的数据更新。"
    ></textarea>
  </se>
  <se label="回写设备名称">
    <input nz-input formControlName="BoundDevice" placeholder="用于绑定到对应的回写设备，设备名称是虚拟设备名称。" />
  </se>
  <se label="回写字段名称">
    <input nz-input formControlName="BoundField" placeholder="用于绑定到对应的回写字段，字段是虚拟设备上的字段。" />
  </se>
  <se>
    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>
  </se>
</form>
